@media screen and (max-width: 991px){


	 .navbar-nav li.nav-item{
	 	margin: 15px 0;
	 	text-align: center;
	 }

	 .navbar-nav-bg
	 {
	 	background-color: rgba(0,0,0,0.8)
	 }
}




























